.custom-container {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "menu table";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10% 25% 65%;
  gap: 8px;
  height: 100vh;
}



.custom-container>div.header {
  grid-area: header;
}

.custom-container>div.menu {
  grid-area: menu;
}

.custom-container>div.content {
  grid-area: content;
}

.custom-container>div.table {
  grid-area: table;
  overflow: auto;
}